# test {{ data.slug }}

import pytest

from {{ data.module }} import part1, part2

def test_part1():
    cases = [
        {
            "label": "small",
            "input": {
                "in_data": """Lines
"""
            },
            "output": "part1 output {{ data.slug }}",
            "ex": None,
        },
    ]
    for case in cases:
        try:
            output = part1(**case["input"])
            assert str(output) == str(case["output"]), "case '{}', output: exp {}, got {}".format(
                case["label"], case["output"], output
            )
        except Exception as e:
            assert type(e) == case["ex"], "case '{}', ex: exp {}, got {}".format(case["label"], case["ex"], type(e))

def test_part2():
    cases = [
        {
            "label": "small",
            "input": {
                "in_data": """Lines
"""
            },
            "output": "part2 output {{ data.slug }}",
            "ex": None,
        },
    ]
    for case in cases:
        try:
            output = part2(**case["input"])
            assert str(output) == str(case["output"]), "case '{}', output: exp {}, got {}".format(
                case["label"], case["output"], output
            )
        except Exception as e:
            assert type(e) == case["ex"], "case '{}', ex: exp {}, got {}".format(case["label"], case["ex"], type(e))
